spring:
  jpa:
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQL5InnoDBDialect
    hibernate:
      ddl-auto: update
  datasource:
    url: jdbc:mysql://127.0.0.1:3306/${DB_NAME}?useSSL=false&useUnicode=true&characterEncoding=UTF-8
    username: ${USERNAME}
    password: ${PASSWORD}
  jmx:
    unique-names: true
server:
  error:
    include-message: always
